html{
    font-family: 'Roboto', sans-serif;
}
body{
    width: 1920px;
    min-height: 2587px;
    border: solid black 1px;
}
h2 {
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #df4a2b;
}
.head-page{
    width: 1929px;
    height: 76px;
    background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}
.header{
    margin-left: 471px;
    width: 990px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 189px;
    height: 70px;
    background: url("../images/LOGO.png") no-repeat;
}
h1.logo a{
    display: block;
    text-indent: -9999px;
    width: 189px;
    height: 70px;
}
.header-nav{
    width: 622px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}
.main-nav a{
    text-decoration: none;
    color: #ffffff;
}
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lang{
    color: #ffffff;
    background-color:#CE2A29;
    border-style: none;
}
.content{
    width: 990px;
    margin-left: 471px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
}
.left-nav{
    width: 250px;
}
.main-footer{
    background-color: blue;
}
.left-nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    width: 250px;
    height: 26px;
    color: #363a3b;
    overflow: hidden;
    }
.left-nav li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 20px;
}
.left-nav-item{
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 6px;
}
.photo-arch-icon{
    width: 30px;
    height: 26px;
    background: url("../images/photo_arch_icon.png") no-repeat;
    background-position: bottom;
}
.video-arhive-icon{
    width: 30px;
    height: 26px;
    background: url("../images/video_arhive_icon.png") no-repeat;
    background-position: center;
}
.rada-icon{
    width: 30px;
    height: 26px;
    background: url("../images/rada-icon.png") no-repeat;
    background-position: center;
}
.partners-icon{
    width: 30px;
    height: 26px;
    background: url("../images/partners-focus.png") no-repeat;
    background-position: center;
}
.forum-icon{
    width: 30px;
    height: 26px;
    background: url("../images/forum.png") no-repeat;
    background-position: center;
}
