html{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
body{
    width: 1920px;
    min-height: 2587px;
    border: solid black 1px;
}
h2 {
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #df4a2b;
    margin-bottom: 33px;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: initial;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: black;
    margin-bottom: 13px;
    margin-top: 5px;
    margin-left: 14px;
}
.head-page{
    width: 1929px;
    height: 76px;
    background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}
.header{
    margin-left: 471px;
    width: 990px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 189px;
    height: 70px;
    background: url("../images/LOGO.png") no-repeat;
}
h1.logo a{
    display: block;
    text-indent: -9999px;
    width: 189px;
    height: 70px;
}
.header-nav{
    width: 622px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}
.main-nav a{
    text-decoration: none;
    color: #ffffff;
}
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lang{
    color: #ffffff;
    background-color:#CE2A29;
    border-style: none;
}
.content{
    width: 990px;
    margin-left: 471px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 33px;
}
.left-nav{
    width: 250px;
}
.l-aside{
    display: block;
    margin-top: 8px;
}
.left-nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    width: 250px;
    height: 26px;
    color: #363a3b;
    overflow: hidden;
    }
.left-nav li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 20px;
}
.left-nav-item{
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 6px;
}
.photo-arch-icon{
    width: 30px;
    height: 26px;
    background: url("../images/photo_arch_icon.png") no-repeat;
    background-position: bottom;
}
.video-arhive-icon{
    width: 30px;
    height: 26px;
    background: url("../images/video_arhive_icon.png") no-repeat;
    background-position: center;
}
.rada-icon{
    width: 30px;
    height: 26px;
    background: url("../images/rada-icon.png") no-repeat;
    background-position: center;
}
.partners-icon{
    width: 30px;
    height: 26px;
    background: url("../images/partners-focus.png") no-repeat;
    background-position: center;
}
.forum-icon{
    width: 30px;
    height: 26px;
    background: url("../images/forum.png") no-repeat;
    background-position: center;
}
.main-content{
    width: 484px;
    min-height: 1558px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.news{
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-bottom: 26px;
    border-radius: 5px;
}
.news p{
    height: 48px;
    margin-left: 14px;
    margin-right: 24px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #878c8d;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    overflow: hidden;
}
.news-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-top: 1px solid rgba(72, 76, 77, 0.1);
    opacity: 0.8;
    font-size: 12px;
    height: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(135, 140, 141, 0.8);
}
.counter{
    margin-right: 12px;
}
.time{
    margin-left: 13px;
}
.r-aside{
    width: 235px;
    margin-left: 21px;
}
.r-aside-block{
    width: 235px;
    height: 213px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}
.r-aside-block figure figcaption{
    margin-left: 14px;
    margin-right: 16px;
    margin-top: 12px;
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #484c4d;
}
.footer::before{
    display: block;
    content: " ";
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}
.footer{
    background: #ffffff;
    widtht: 100%;
    min-height: 140px;
}
.main-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 462px;
    width: 990px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #898989;
}
.footer-nav{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 625px;
    height: 12px;
    margin-top: 18px;
}
.footer-nav a{
    text-transform: uppercase;
    font-weight: 300;
    color: #898989;
    text-decoration: none;
}
